/*!
Theme Name: high
Theme URI: http://jucamillo.com.br/
Author: JuCamillo Web Co
Author URI: http://jucamillo.com.br/
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: high
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

high is based on JuCamillo

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}.screen-reader-text{border:0;clip:rect(1px,1px,1px,1px);clip-path:inset(50%);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute!important;width:1px;word-wrap:normal!important}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;clip-path:none;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9,.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9,.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{position:relative;min-height:1px;padding-left:15px;padding-right:15px}.col-xs-1,.col-xs-10,.col-xs-11,.col-xs-12,.col-xs-2,.col-xs-3,.col-xs-4,.col-xs-5,.col-xs-6,.col-xs-7,.col-xs-8,.col-xs-9{float:left}.col-xs-12{width:100%}.col-xs-11{width:91.66666667%}.col-xs-10{width:83.33333333%}.col-xs-9{width:75%}.col-xs-8{width:66.66666667%}.col-xs-7{width:58.33333333%}.col-xs-6{width:50%}.col-xs-5{width:41.66666667%}.col-xs-4{width:33.33333333%}.col-xs-3{width:25%}.col-xs-2{width:16.66666667%}.col-xs-1{width:8.33333333%}.col-xs-pull-12{right:100%}.col-xs-pull-11{right:91.66666667%}.col-xs-pull-10{right:83.33333333%}.col-xs-pull-9{right:75%}.col-xs-pull-8{right:66.66666667%}.col-xs-pull-7{right:58.33333333%}.col-xs-pull-6{right:50%}.col-xs-pull-5{right:41.66666667%}.col-xs-pull-4{right:33.33333333%}.col-xs-pull-3{right:25%}.col-xs-pull-2{right:16.66666667%}.col-xs-pull-1{right:8.33333333%}.col-xs-pull-0{right:auto}.col-xs-push-12{left:100%}.col-xs-push-11{left:91.66666667%}.col-xs-push-10{left:83.33333333%}.col-xs-push-9{left:75%}.col-xs-push-8{left:66.66666667%}.col-xs-push-7{left:58.33333333%}.col-xs-push-6{left:50%}.col-xs-push-5{left:41.66666667%}.col-xs-push-4{left:33.33333333%}.col-xs-push-3{left:25%}.col-xs-push-2{left:16.66666667%}.col-xs-push-1{left:8.33333333%}.col-xs-push-0{left:auto}.col-xs-offset-12{margin-left:100%}.col-xs-offset-11{margin-left:91.66666667%}.col-xs-offset-10{margin-left:83.33333333%}.col-xs-offset-9{margin-left:75%}.col-xs-offset-8{margin-left:66.66666667%}.col-xs-offset-7{margin-left:58.33333333%}.col-xs-offset-6{margin-left:50%}.col-xs-offset-5{margin-left:41.66666667%}.col-xs-offset-4{margin-left:33.33333333%}.col-xs-offset-3{margin-left:25%}.col-xs-offset-2{margin-left:16.66666667%}.col-xs-offset-1{margin-left:8.33333333%}.col-xs-offset-0{margin-left:0}@media (min-width:768px){.col-sm-1,.col-sm-10,.col-sm-11,.col-sm-12,.col-sm-2,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6,.col-sm-7,.col-sm-8,.col-sm-9{float:left}.col-sm-12{width:100%}.col-sm-11{width:91.66666667%}.col-sm-10{width:83.33333333%}.col-sm-9{width:75%}.col-sm-8{width:66.66666667%}.col-sm-7{width:58.33333333%}.col-sm-6{width:50%}.col-sm-5{width:41.66666667%}.col-sm-4{width:33.33333333%}.col-sm-3{width:25%}.col-sm-2{width:16.66666667%}.col-sm-1{width:8.33333333%}.col-sm-pull-12{right:100%}.col-sm-pull-11{right:91.66666667%}.col-sm-pull-10{right:83.33333333%}.col-sm-pull-9{right:75%}.col-sm-pull-8{right:66.66666667%}.col-sm-pull-7{right:58.33333333%}.col-sm-pull-6{right:50%}.col-sm-pull-5{right:41.66666667%}.col-sm-pull-4{right:33.33333333%}.col-sm-pull-3{right:25%}.col-sm-pull-2{right:16.66666667%}.col-sm-pull-1{right:8.33333333%}.col-sm-pull-0{right:auto}.col-sm-push-12{left:100%}.col-sm-push-11{left:91.66666667%}.col-sm-push-10{left:83.33333333%}.col-sm-push-9{left:75%}.col-sm-push-8{left:66.66666667%}.col-sm-push-7{left:58.33333333%}.col-sm-push-6{left:50%}.col-sm-push-5{left:41.66666667%}.col-sm-push-4{left:33.33333333%}.col-sm-push-3{left:25%}.col-sm-push-2{left:16.66666667%}.col-sm-push-1{left:8.33333333%}.col-sm-push-0{left:auto}.col-sm-offset-12{margin-left:100%}.col-sm-offset-11{margin-left:91.66666667%}.col-sm-offset-10{margin-left:83.33333333%}.col-sm-offset-9{margin-left:75%}.col-sm-offset-8{margin-left:66.66666667%}.col-sm-offset-7{margin-left:58.33333333%}.col-sm-offset-6{margin-left:50%}.col-sm-offset-5{margin-left:41.66666667%}.col-sm-offset-4{margin-left:33.33333333%}.col-sm-offset-3{margin-left:25%}.col-sm-offset-2{margin-left:16.66666667%}.col-sm-offset-1{margin-left:8.33333333%}.col-sm-offset-0{margin-left:0}}@media (min-width:992px){.col-md-1,.col-md-10,.col-md-11,.col-md-12,.col-md-2,.col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9{float:left}.col-md-12{width:100%}.col-md-11{width:91.66666667%}.col-md-10{width:83.33333333%}.col-md-9{width:75%}.col-md-8{width:66.66666667%}.col-md-7{width:58.33333333%}.col-md-6{width:50%}.col-md-5{width:41.66666667%}.col-md-4{width:33.33333333%}.col-md-3{width:25%}.col-md-2{width:16.66666667%}.col-md-1{width:8.33333333%}.col-md-pull-12{right:100%}.col-md-pull-11{right:91.66666667%}.col-md-pull-10{right:83.33333333%}.col-md-pull-9{right:75%}.col-md-pull-8{right:66.66666667%}.col-md-pull-7{right:58.33333333%}.col-md-pull-6{right:50%}.col-md-pull-5{right:41.66666667%}.col-md-pull-4{right:33.33333333%}.col-md-pull-3{right:25%}.col-md-pull-2{right:16.66666667%}.col-md-pull-1{right:8.33333333%}.col-md-pull-0{right:auto}.col-md-push-12{left:100%}.col-md-push-11{left:91.66666667%}.col-md-push-10{left:83.33333333%}.col-md-push-9{left:75%}.col-md-push-8{left:66.66666667%}.col-md-push-7{left:58.33333333%}.col-md-push-6{left:50%}.col-md-push-5{left:41.66666667%}.col-md-push-4{left:33.33333333%}.col-md-push-3{left:25%}.col-md-push-2{left:16.66666667%}.col-md-push-1{left:8.33333333%}.col-md-push-0{left:auto}.col-md-offset-12{margin-left:100%}.col-md-offset-11{margin-left:91.66666667%}.col-md-offset-10{margin-left:83.33333333%}.col-md-offset-9{margin-left:75%}.col-md-offset-8{margin-left:66.66666667%}.col-md-offset-7{margin-left:58.33333333%}.col-md-offset-6{margin-left:50%}.col-md-offset-5{margin-left:41.66666667%}.col-md-offset-4{margin-left:33.33333333%}.col-md-offset-3{margin-left:25%}.col-md-offset-2{margin-left:16.66666667%}.col-md-offset-1{margin-left:8.33333333%}.col-md-offset-0{margin-left:0}}@media (min-width:1280px){.col-lg-1,.col-lg-10,.col-lg-11,.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-4,.col-lg-5,.col-lg-6,.col-lg-7,.col-lg-8,.col-lg-9{float:left}.col-lg-12{width:100%}.col-lg-11{width:91.66666667%}.col-lg-10{width:83.33333333%}.col-lg-9{width:75%}.col-lg-8{width:66.66666667%}.col-lg-7{width:58.33333333%}.col-lg-6{width:50%}.col-lg-5{width:41.66666667%}.col-lg-4{width:33.33333333%}.col-lg-3{width:25%}.col-lg-2{width:16.66666667%}.col-lg-1{width:8.33333333%}.col-lg-pull-12{right:100%}.col-lg-pull-11{right:91.66666667%}.col-lg-pull-10{right:83.33333333%}.col-lg-pull-9{right:75%}.col-lg-pull-8{right:66.66666667%}.col-lg-pull-7{right:58.33333333%}.col-lg-pull-6{right:50%}.col-lg-pull-5{right:41.66666667%}.col-lg-pull-4{right:33.33333333%}.col-lg-pull-3{right:25%}.col-lg-pull-2{right:16.66666667%}.col-lg-pull-1{right:8.33333333%}.col-lg-pull-0{right:auto}.col-lg-push-12{left:100%}.col-lg-push-11{left:91.66666667%}.col-lg-push-10{left:83.33333333%}.col-lg-push-9{left:75%}.col-lg-push-8{left:66.66666667%}.col-lg-push-7{left:58.33333333%}.col-lg-push-6{left:50%}.col-lg-push-5{left:41.66666667%}.col-lg-push-4{left:33.33333333%}.col-lg-push-3{left:25%}.col-lg-push-2{left:16.66666667%}.col-lg-push-1{left:8.33333333%}.col-lg-push-0{left:auto}.col-lg-offset-12{margin-left:100%}.col-lg-offset-11{margin-left:91.66666667%}.col-lg-offset-10{margin-left:83.33333333%}.col-lg-offset-9{margin-left:75%}.col-lg-offset-8{margin-left:66.66666667%}.col-lg-offset-7{margin-left:58.33333333%}.col-lg-offset-6{margin-left:50%}.col-lg-offset-5{margin-left:41.66666667%}.col-lg-offset-4{margin-left:33.33333333%}.col-lg-offset-3{margin-left:25%}.col-lg-offset-2{margin-left:16.66666667%}.col-lg-offset-1{margin-left:8.33333333%}.col-lg-offset-0{margin-left:0}}
@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Light.eot');
    src: url('fonts/Helvetica-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-Light.woff2') format('woff2'),
        url('fonts/Helvetica-Light.woff') format('woff'),
        url('fonts/Helvetica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Bold.eot');
    src: url('fonts/Helvetica-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-Bold.woff2') format('woff2'),
        url('fonts/Helvetica-Bold.woff') format('woff'),
        url('fonts/Helvetica-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica.eot');
    src: url('fonts/Helvetica.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica.woff2') format('woff2'),
        url('fonts/Helvetica.woff') format('woff'),
        url('fonts/Helvetica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Oblique.eot');
    src: url('fonts/Helvetica-Oblique.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-Oblique.woff2') format('woff2'),
        url('fonts/Helvetica-Oblique.woff') format('woff'),
        url('fonts/Helvetica-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


.vc_section{
	margin: 0 !important;
	padding: 0 !important;
}
ul.empreendimento .owl-dots,
ul.empreendimento .owl-nav,
.vc_section > .vc_row,
.container{
    width: 1140px !important;
    margin: 0 auto !important;
}



body{
    margin: 0;
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Helvetica';
    background: #F9F9F9;
}

input, button, select, textarea{
    color: #000;
    font-size: 16px;
    line-height: 1.6;
    font-family: 'Helvetica';	
}
ul,
ol,
li{
	margin: 0;
	padding: 0;
}
*{
    margin: 0;
    padding: 0;
    outline:none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.wpb_button, .wpb_content_element, ul.wpb_thumbnails-fluid>li{
	margin: 0 !important;
}
section,
footer,
header{
    float: left;
    width: 100%;
}
.miolo-site > * > section.vc_section {
    padding: 130px 0 !important;
}
a{
    color: inherit;
    text-decoration: none;
}
p{
    margin: 0 0 15px;
}
header{
    padding: 26px 0;
    position: fixed;
    z-index: 99999;
    background: #fff;
}
header .col-xs-12{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
header .lf{
    display: flex;
    align-items: center;
    justify-content: flex-start;

}
header .branding{
    width: 140px;
}
header .branding,
header .branding a{
    display: flex;
}

header .branding *{
    width: 100%;
    height: auto;
}

header nav.main-navigation{
    margin: 0 0 0 65px;
}
header nav.main-navigation ul{
	display: flex;
	align-items: center;
	list-style: none;
	margin: 0;
    font-size: 12px;
    letter-spacing: 0.16em;
    color: #050709;
	padding: 0;
    text-transform: uppercase;
}
header nav.main-navigation .menu-toggle{
	display: none;
}
header nav.main-navigation ul a{
    padding: 10px;
}
header nav.main-navigation > div > ul > li{
    position: relative;
    height: 20px;
}
header nav.main-navigation > div > ul > li:before{
    content: '';
    height: 3px;
    left: 5px;
    right: 5px;
    background: #ED292E;
    position: absolute;
    top: -48px;
    opacity: 0;
    width: calc(100% - 10px);
    /* Firefox */
    -moz-transition: all 0.3s ease;
    /* WebKit */
    -webkit-transition: all 0.3s ease;
    /* Opera */
    -o-transition: all 0.3s ease;
    /* Standard */
    transition: all 0.3s ease;
}
header nav.main-navigation > div > ul > li.current-menu-item + li.current_page_parent:before{
    opacity: 0;
}
header nav.main-navigation > div > ul > li.current-menu-item + li.current_page_parent:hover::before,
header nav.main-navigation > div > ul > li.current_page_parent:before,
header nav.main-navigation > div > ul > li:hover::before,
header nav.main-navigation > div > ul > li.current-menu-item:before{
    top: -45px;
    opacity: 1;
}
header.scroll nav.main-navigation > div > ul > li:before{
    top: -21px;
}
header.scroll nav.main-navigation > div > ul > li.current_page_parent:before, 
header.scroll nav.main-navigation > div > ul > li:hover::before, 
header.scroll nav.main-navigation > div > ul > li.current-menu-item:before{
    top: -18px;
}

header .menu-mobile ul li.current_page_parent > a,
header nav.main-navigation > div > ul > li.current_page_parent > a,
header .menu-mobile ul li.current-menu-item > a,
header nav.main-navigation > div > ul > li.current-menu-item > a{
    font-weight: 700;
}
header .btn{
    align-items: flex-start !important;
    flex-flow: column !important;
    padding:15px 25px !important;
    color: #F9F9F9 !important;
    position: absolute !important;
    right: 30px !important;
    top: -26px !important;
    margin: 0 !important;
    border-top: 0 !important;
}
header .btn:hover{
    background: #fff !important;
}
header .btn strong{
    font-weight: 300;
    font-size: 24px;
    line-height: 1.2;
    margin: 0 0 15px;
    line-height: 1.2;
    margin: 0 0 15px;
    letter-spacing: 0;
    text-transform: none;
    color: inherit;
    height: 84px;
    overflow: hidden;
    color: #F9F9F9 !important;
}
header .btn span{
    font-weight: bold;
    font-size: 12px;
    line-height: 24px;
    display: flex;
    align-items: center;
}
header .btn span svg{
    margin-right: 10px;
}
header + section#content {
    margin-top: 109px;
    position: relative;
}
header.scroll{
    padding: 10px 0;
}
header.scroll .branding {
    width: 90px;
}
header.scroll .btn{
    top: -10px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

header.scroll .btn strong{
    height: 0;
    margin: 0;
}




strong{
    font-weight: bold;
}

ul.empreendimento{
    background: #E5E5E5;
    list-style: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
ul.empreendimento li .container{
    display: flex;
    flex-flow: wrap;
}
ul.empreendimento li .container > *{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-flow: column;
}
ul.empreendimento li .container .col-img{
    padding-right: 0;
}
ul.empreendimento li .container .col-img .img{
    width: 100%;
    padding-top: 130%;
    background-size: cover;
    background-position: center;
    float: left;
}
h4{
    margin: 0 0 15px;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #050709;
}
#title-page h1,
h2{
    margin: 0;
    font-weight: 300;
    font-size: 54px;
    line-height: 1.1;
    color: #050709;
}
h2 strong{
    font-weight: 700;
}
h3{
    margin: 0;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 1.1;
    color: #393939;
}
body.home #sobre h3 strong{
    color: #ED292E;
}
.vc_btn3-container{
    margin:30px 0 0 0 !important;
}
.vc_btn3-container > .vc_btn3-color-orange,
.vc_btn3-container > .vc_btn3-color-warning,
.vc_btn3-container > .vc_btn3.vc_btn3-color-black,
.vc_btn3-container > .vc_btn3.vc_btn3-color-danger,
.btn{
    background: #ED292E !important;
    display: flex !important;
    align-items: center !important;
    flex-flow: wrap !important;
    justify-content: flex-start !important;
    color: #F9F9F9 !important;
    font-weight: bold !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    padding: 14px 30px !important;
    border-radius: 0 !important;
    margin: 0 !important;
    border:1px solid #ED292E !important;
    color: #F9F9F9 !important;
    width: auto !important;
    display: inline-flex !important;
    cursor: pointer !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-black{
    font-weight: normal !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-white{
    width: auto !important;
    display: inline-flex !important;
    border:0 !important;
    color: #F9F9F9 !important;
    margin: 0 !important;
    padding: 0 !important;
    font-weight: bold !important;
    font-size: 12px !important;
    line-height: 1.2 !important;
    align-items: center !important;
    flex-flow: wrap !important;
    justify-content: flex-start !important;
    background: transparent !important;
}
ul.empreendimento .btn{
    margin: 40px 0 0 0 !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-white svg{
    margin-right: 20px;
}
.alm-btn-wrap button.alm-load-more-btn svg,
.vc_btn3-container > .vc_btn3-color-orange svg,
.vc_btn3-container > .vc_btn3-color-warning svg,
.vc_btn3-container > .vc_btn3.vc_btn3-color-danger svg{
    margin-left: 20px;
}

.btn span{
    margin-right: 20px;
    color: #F9F9F9;
}
.vc_btn3-container > .vc_btn3-color-orange:hover,
.vc_btn3-container > .vc_btn3-color-warning:hover,
.vc_btn3-container > .vc_btn3.vc_btn3-color-black:hover,
.vc_btn3-container > .vc_btn3.vc_btn3-color-danger:hover,
.btn:hover{
    background: transparent !important;
    color: #ED292E !important;
}
.btn:hover strong,
.btn:hover span{
    color: #ED292E !important;
}
.vc_btn3-container > .vc_btn3-color-orange:hover svg *,
.vc_btn3-container > .vc_btn3-color-warning:hover svg *,
.vc_btn3-container > .vc_btn3.vc_btn3-color-danger:hover svg *,
.btn:hover svg *{
    stroke:  #ED292E !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-black *{
    color: #F9F9F9 !important;

}
.vc_btn3-container > .vc_btn3.vc_btn3-color-black{
    background: #050709 !important;
    border-color: #050709 !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-black:hover{
    background: transparent !important;
}
.vc_btn3-container > .vc_btn3.vc_btn3-color-black:hover,
.vc_btn3-container > .vc_btn3.vc_btn3-color-black:hover *{
    color: #050709 !important;
}
.vc_btn3-container > .vc_btn3 .vc_btn3-icon {
    position: static !important;
    left: auto !important;
    right: auto !important;
    height: auto !important;
    line-height: inherit !important;
    top: auto !important;
    bottom: auto !important;
    vertical-align: middle !important;
    transform: translate(0) !important;
    margin: -5px 0 -5px 15px;
    font-size: 22px !important;
}
ul.empreendimento .txt {
    margin-bottom: 120px;
    display: flex;
    float: left;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
}
ul.empreendimento .btn{
    margin: 30px 0 0 0;
}


ul.empreendimento .owl-dots,
ul.empreendimento .owl-nav{
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    bottom: 160px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    right: 0;
}
ul.empreendimento .owl-dots{
    bottom: 178px;
    padding-left: 200px;
}
ul.empreendimento .owl-nav button{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul.empreendimento.owl-carousel .owl-nav button.owl-next, 
ul.empreendimento.owl-carousel .owl-nav button.owl-prev{
    padding: 10px !important;
}
ul.empreendimento .owl-nav button + button{
    margin-left: 60px;
}

ul.empreendimento .owl-dots button{
    border: 0;
    margin: 0;
    width: 50px;
    height: 1px;
    background: #F9F9F9;
}
ul.empreendimento .owl-dots button.active{
    height: 2px;
    background: #ED292E;
}
#sobre #ctas{
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-top: 50px !important;
}
#sobre #ctas .vc_col-sm-3 {
    width: 28%;
    cursor: pointer;
}
#sobre #ctas .vc_col-sm-3:first-child {
    width: 16%;
    cursor: inherit;
}

#sobre #ctas .vc_col-sm-3 .vc_row .vc_column-inner,
#sobre #ctas .vc_col-sm-3 > *{
    padding: 0 !important;
    position: relative;
}
#sobre #ctas .vc_col-sm-3 .wpb_single_image{
    position: relative;
}
#sobre #ctas .vc_col-sm-3 .wpb_single_image:after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(57, 57, 57, 0) 0%, #393939 100%);
}
#sobre #ctas .vc_col-sm-3 .vc_row{
    margin-left: 0 !important;
    margin-right: 0 !important;
    position: absolute;
    bottom: 40px;
    left: 40px;
    right: 40px;
    padding:0 ;
}
#sobre #ctas .vc_col-sm-3 .vc_row h3 strong{
    color: #fff;
}
#sobre #ctas .vc_btn3-container{
    margin:10px 0 0 0 !important;
}
#sobre #ctas .vc_col-sm-3 .vc_row {
    overflow: hidden;
}
#sobre #ctas .vc_col-sm-3 .vc_row > *{
    transform: translateY(35px);
}
#sobre #ctas .vc_col-sm-3:hover .vc_row > *{
    transform: translateY(0px);
}

#sobre #ctas .vc_col-sm-3:nth-child(2){
    margin-top: 40px;
}

#sobre #ctas .vc_col-sm-3:nth-child(4){
    margin-top: 80px;
}







body.home ul.noticias{
    margin-top: 30px !important;
}
.gallery .owl-dots,
.single-empreendimento .owl-dots,
section#acreditamos > * > .vc_col-sm-6 > * > .wpb_wrapper .owl-dots,
#sobre > #ctas .owl-dots,
.lista-empreendimento .owl-dots,
ul.noticias .owl-dots {
    margin: 15px 0 0 !important;
    display: flex !important;
    justify-content: center !important;
    width: 100%;
    align-items: center !important;
}
.gallery .owl-dots.disabled,
.single-empreendimento .owl-dots.disabled,
section#acreditamos > * > .vc_col-sm-6 > * > .wpb_wrapper .owl-dots.disabled,
#sobre > #ctas .owl-dots.disabled,
.lista-empreendimento .owl-dots.disabled,
ul.noticias .owl-dots.disabled{
    display: none !important;
}
.gallery .owl-dots button,
.single-empreendimento .owl-dots button,
section#acreditamos > * > .vc_col-sm-6 > * > .wpb_wrapper .owl-dots button,
#sobre > #ctas .owl-dots button,
.lista-empreendimento .owl-dots button,
ul.noticias .owl-dots button{
    margin: 0 3px !important;
    width: 8px !important;
    height: 8px !important;
    border-radius: 10px !important;
    background: #D8D8D8 !important;
}
.gallery .owl-dots button.active,
.single-empreendimento .owl-dots button.active,
section#acreditamos > * > .vc_col-sm-6 > * > .wpb_wrapper .owl-dots button.active,
#sobre > #ctas .owl-dots button.active,
.lista-empreendimento .owl-dots button.active,
ul.noticias .owl-dots button.active{
    background: #ED292E !important;
}
ul.noticias{
    list-style: none;
}
ul.noticias li{
    width: 100%;
}
ul.noticias li .info{
    position: relative;
    float: left;
    width: calc(100% - 100px);
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
    margin-bottom: 51px;
    background: #fff;
    padding: 30px;

}
ul.noticias li:hover .info{
    margin-bottom: 0;
}
ul.noticias li .info p{
    margin: 0 !important;
}
ul.noticias li .img{
    width: 100%;
    padding-top: 52%;
    background-size: cover;
    background-position: center;
    float: left;
}

ul.noticias li ul.blog-categories{
    list-style: none;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: flex-start;
    margin: 0 0 10px;
}

ul.noticias li ul.blog-categories h4{
    margin: 0;
}
ul.noticias li ul.blog-categories li{
    margin-right: 10px;
}
ul.noticias li h3{
    color: #050709;
    font-weight: bold;
    margin: 0 0 15px;
}
.lista-empreendimento{
    margin-top: 30px !important;
}

.lista-empreendimento .single .btn-full,
ul.noticias li .hover-btn{
    float: left;
    width: 100%;
    height: 0;
    overflow: hidden;
}
.lista-empreendimento .single:hover .btn-full,
ul.noticias li.single:hover .hover-btn{
    height: 51px;
}
.lista-empreendimento .single h3{
    color: #393939;
}

.lista-empreendimento .single:hover h3{
    color: #ED292E;
}
.lista-empreendimento .single .btn,
ul.noticias li .btn{
    background: transparent !important;
    border: 0 !important;
    overflow: hidden;
    border-top: 1px solid #D8D8D8 !important;
    width: 100% !important;
    padding:15px 0 0 0 !important;
    margin: 15px 0 0 0 !important;
}
.lista-empreendimento .single .btn{
    margin-top: 0 !important;
    border-top: 0 !important;
}
.lista-empreendimento .single .btn *,
.lista-empreendimento .single .btn svg *,
ul.noticias li .btn *,
ul.noticias li .btn svg *,
ul.noticias li .btn{
    color: #ED292E;
    stroke: #ED292E;
}

.lista-empreendimento .single .btn span,
ul.noticias li .btn span{
    margin-left: 20px;
    margin-right: 0;
}

#fale-conosco #whats h3{
    margin-top: 80px !important;
    margin-bottom: 50px !important;
}

#fale-conosco .wpcf7{
    margin-top: 60px;
}
.wpcf7 .col-full label,
.wpcf7 .col-full,
.wpcf7 .wpcf7-form-control-wrap,
.wpcf7 .wpcf7-form-control-wrap input,
.wpcf7 .wpcf7-form-control-wrap textarea{
    display: block;
    width: 100%;
}
.wpcf7 .wpcf7-form-control-wrap input,
.wpcf7 .wpcf7-form-control-wrap textarea{
    height: 60px;
    padding: 0;
    border-radius: 0;
    border:0;
    border-bottom: 1px solid #D8D8D8;
    font-weight: 300;
    font-size: 24px;
    background: transparent !important;
}
.wpcf7 .col-full {
    margin: 0 0 40px;
}
.wpcf7 .btn{
    float: right;
}


.wpcf7 .col-full label{
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    color: #393939;
    margin: 0;
}


footer{
    background: #7C7C7C;
    color: #ECECEC;
    padding: 60px 0 0;
}
footer .container{
    display: flex;
    flex-flow: wrap;
}
footer .container .full-footer{
    width: calc(100% - 30px);
    display: flex;
    flex-flow: wrap;
    align-items: center;
    padding: 35px 0;
    margin: 80px 15px 0;
    border-top: 1px solid #D8D8D8;
}
footer .container .full-footer > *{
    padding: 0;
}
footer .sign{
    float: right;
    overflow: hidden;
    width: 117px;
}
footer .sign:hover{
    width: 193px;
    opacity: 1;
}
footer ul{
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-flow: column;
    list-style: none;
}

footer ul.menu{
    flex-flow: wrap;
    justify-content: center;
}
footer ul.menu li{
    margin: 0 12px;
    font-weight: bold;
    text-transform: uppercase;
}
footer ul.menu li.none{
    display: none;
}

footer ul.contato li > *{
    display: flex;
    align-items: flex-start;
}
footer ul.contato li + li{
    margin-top: 30px;
}
footer ul.contato li > * span{
    font-style: normal;
    margin-left: 10px;
    width: calc(100% - 25px);
}
footer ul.contato li svg{
    margin-top: 5px;
    width: 15px;
}
footer ul.social{
    justify-content: flex-end;
    align-items: center;
    flex-flow: wrap;
}
footer ul.social a{
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}
footer a:hover{
    opacity: .6;
}
footer ul.social li + li{
    margin: 0 0 0 5px;
}
#title-page,
.miolo-site > * > section.vc_section#title-page{
    padding: 90px 0 40px !important;
}
body.single-post #title-page{
    padding-top: 30px !important;
}
.miolo-site > * > section.vc_section#sobre{
    padding-top: 50px !important;
}

.page-contato #fale-conosco{
    padding-top: 0 !important;
}
#title-page h1{
    color: #393939;
}

body.single-post #title-page h1{
    font-weight: bold;
    font-size: 36px;
    line-height: 1.2;
}

#title-page{
    background: #E5E5E5;
}

h3 + h4{
    margin-top: 40px;
}
.page-sobre-nos section.vc_section#sobre .wpb_single_image{
    margin-top: -150px !important;
    margin-bottom: -120px !important;
}
.page-sobre-nos .miolo-site > * > section.vc_section#sobre {
    padding: 50px 0 0 0 !important;
}

.miolo-site > * > section.vc_section#como-fazemos{
    padding-bottom: 60px !important;
}
.miolo-site > * > section.vc_section#como-fazemos .wpb_single_image{
    margin-top: -70px !important;
    margin-bottom: -120px !important;
}
.miolo-site > * > section.vc_section#acreditamos{
    padding-bottom: 0 !important;
}
#acreditamos .vc_row .vc_row .wpb_text_column {
    width: calc(100% - 100px);
}
#acreditamos .vc_row .vc_row:nth-child(2) .wpb_text_column {
    margin-left: 100px !important;
}
#acreditamos .vc_row > *:nth-child(2){
    margin-bottom: -140px !important;
}
#acreditamos .vc_row .vc_row + .vc_row{
    margin-top: 30px !important;
}
#acreditamos .vc_row .vc_row .wpb_text_column h3{
    font-weight: bold;
    font-size: 24px;
    position: relative;
}
#acreditamos .vc_row .vc_row .wpb_text_column h3:after{
    content: '';
    left: -31px;
    width: 8px;
    background: #ED292E;
    position: absolute;
    top: -3px;
    bottom: -15px;
}

#acreditamos .vc_row .vc_row .wpb_text_column{
    background: #FFFFFF;
    padding: 30px;

}
.miolo-site > * > section.vc_section#empreendimentos {
    padding-top: 240px !important;
}
.list-empreendimento-section{
    padding: 40px 0 90px !important;
}

.lista-empreendimento{
    list-style: none;
    margin: 0;
    padding: 0;
}
.lista-empreendimento .single{
    width: 100%;
    float: left;
    position: relative;
}
.lista-empreendimento.list{
    width: calc(100% + 30px);
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: wrap;
    margin-top: 40px;
}
.alm-reveal{
    display: flex;
    flex-flow: wrap;

}
.lista-empreendimento.list .single{
    width: calc(33.3333333333% - 30px);
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px !important;
}
.lista-empreendimento .single .img{
    float: left;
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-position: center;
}
.lista-empreendimento .single .info{
    display: block;
    width: 100%;
    float: left;
    position: relative;
}
.lista-empreendimento .single h4{
    background: #F9F9F9;
    color: #7C7C7C;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);
    padding: 0 25px;
}
.lista-empreendimento .single h4 a{
    padding: 10px;
    display: inline-block;
}
.lista-empreendimento .single h4 a + a:before{
    content: '/';
    display: inline-block;
    margin: 0 10px 0 -10px;
}
.lista-empreendimento .single h3{
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    padding: 15px 0;
    border-bottom: 1px solid #D8D8D8 !important;
}
.lista-empreendimento .single .info{
    margin-bottom: 34px !important;
}
.lista-empreendimento .single:hover .info{
    margin-bottom: 0 !important;
}
.lista-empreendimento .single:hover .btn-full {
    height: 34px;
}
.list-empreendimento-section .menu-categorias-container ul{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    list-style: none;
    flex-flow: wrap;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title>a,
.vc_tta.vc_general .vc_tta-tab > a,
.list-empreendimento-section .menu-categorias-container ul a{
    float: left !important;
    font-size: 16px !important;
    line-height: 1.2 !important;
    padding: 12px 35px !important;
    color: #ED292E !important;
    border:1px solid #b8b8b8 !important;
    border-radius: 0 !important;
}
.vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title>a,
.vc_tta.vc_general .vc_tta-tab.vc_active>a,
.list-empreendimento-section .menu-categorias-container ul .current-menu-item a{
    border-color: #ED292E !important;
    background: rgba(237, 41, 46, 0.1) !important;
}
.vc_tta.vc_general .vc_tta-tab + .vc_tta-tab,
.list-empreendimento-section .menu-categorias-container ul li + li{
    margin-left: 25px;
}
.lista-empreendimento.list > h3{
    padding: 0 15px;
    margin: 10px 0 50px;
}
.alm-btn-wrap{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.alm-btn-wrap .btn.none{
    display: none !important;
}

ul.noticias.list{
    width: calc(100% + 30px);
    margin: 20px -15px 0;
    display: flex;
    flex-flow: wrap;
}
ul.noticias.list .single{
    width: calc(33.333333% - 30px);
    margin: 20px 15px 0;
}
ul.noticias.list li .img{
    padding-top: 90%;
}
ul.noticias.list li .info {
    width: calc(100% - 50px);
    margin-left: 25px;
    margin-right: 25px;
}
ul.noticias.list li h3{
    font-size: 21px;
    line-height: 1.2;
}
.navigation ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin:60px 0 0 0;
}
.navigation ul a{
    width: 70px;
    color: 393939;
    font-weight: bold;
    font-size: 16px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 45px;
    cursor: pointer;
}
.navigation ul a:hover{
    background: #E5E5E5;
}
.navigation ul .active a{
    background: #ED292E;
    color: #fff;
}
section.miolo.list-blog-section{
    padding:50px 0 100px;
}
section.miolo.list-blog-section h3.pop{
    position: relative;
    margin: 0 0 35px;
}
section.miolo.list-blog-section h3.pop:after{
    content: '';
    width: 50px;
    height: 3px;
    background: #ED292E;
    position: absolute;
    bottom: -5px;
    left: 0;
}
ul.noticias.popular,
ul.noticias.destaque_noticia{
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.noticias.popular li{
    width: 100%;
}
ul.noticias.popular li .block-img{
    width: 35%;
}
ul.noticias.popular li .block-img .img{
    padding-top: 80%;
}
ul.noticias.popular li .info{
    width: 65%;
    margin: 0 !important;
    padding: 0 0 0 20px;
    background: transparent;
}
ul.noticias.popular li h3{
    font-size: 16px;
    line-height: 1.2;
    margin: 0;
}
ul.noticias.popular li ul.blog-categories{
    margin-bottom: 5px;
}
ul.noticias.popular li h4{
    font-size: 10px;
}
ul.noticias.popular > li {
    width: 100%;
    display: flex;
    flex-flow: wrap;
}
ul.noticias.popular > li{
    margin-top: 25px;
}

.ultimas-noticias-col{
    margin-top: 40px;
}

.post-thumbnail img{
    width: 100%;
    margin: 0;
    height: auto;
}
.post-thumbnail{
    display: flex;
    width: 100%;
    margin: 0 0 30px;
}

section.miolo.single-blog-sec{
    padding: 40px 0 0px !important;
}
section.miolo.single-blog-sec .container{
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}
section.miolo.single-blog-sec .col-xs-12 > ul.blog-categories {
    list-style: none;
    display: flex;
    align-content: center;
    flex-flow: wrap;justify-content: flex-start;
    transform: translateY(50%);
}
section.miolo.single-blog-sec .col-xs-12 > ul.blog-categories li{
    margin-left: 25px;
}
section.miolo.single-blog-sec .col-xs-12 > ul.blog-categories h4 a{
    background: #ED292E;
    color: #fff;
    padding: 8px 12px 7px;
    float: left;
}

section.miolo.single-blog-sec article img{
    max-width: 100%;
    height: auto;
}



section.miolo.single-blog-sec article h3,
section.miolo.single-blog-sec article h2{
    font-weight: bold;
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 15px;
    margin-top: 30px;
}
section.miolo.single-blog-sec article h3{
    font-size: 18px;
}
section.miolo.single-blog-sec article .gallery{
    position: relative;
}
section.miolo.single-blog-sec article .gallery img{
    width: 100%;
    height: auto;
}

section.miolo.single-blog-sec article figcaption{
    opacity: .8;
    width: 100%;

    font-weight: normal;
    font-size: 12px;
}
.owl-galery .owl-nav,
section.miolo.single-blog-sec article .gallery .owl-nav{
    position: static !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100% !important;
    height: 0 !important;
}
.owl-galery .owl-nav button,
section.miolo.single-blog-sec article .gallery .owl-nav button{
    background: #ED292E !important;
    width: 70px !important;
    height: 70px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    border: 1px solid #ED292E !important;
    position: absolute !important;
    top: calc(50% - 35px) !important;
}
.owl-galery .owl-nav button.owl-prev,
section.miolo.single-blog-sec article .gallery .owl-nav button.owl-prev{
    left: -35px !important;
}
.owl-galery .owl-nav button.owl-next,
section.miolo.single-blog-sec article .gallery .owl-nav button.owl-next{
    right: -35px !important;
}
.owl-galery .owl-nav button:hover,
section.miolo.single-blog-sec article .gallery .owl-nav button:hover{
    background: #fff !important;
}
.owl-galery .owl-nav button:hover svg *,
section.miolo.single-blog-sec article .gallery .owl-nav button:hover svg *{
    stroke: #ED292E !important;
}
.owl-galery a,
.gallery-item a{
    position: relative;
    float: left;
    width: 100%;
    cursor: pointer;
}
.owl-galery a:after,
.gallery-item a:after{
    content: '';
    background: url(images/expand.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 4;
    opacity: 0;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.owl-galery a:before,
.gallery-item a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #393939;
    z-index: 2;
    opacity: 0;
    /* Firefox */
    -moz-transition: all 0.4s ease;
    /* WebKit */
    -webkit-transition: all 0.4s ease;
    /* Opera */
    -o-transition: all 0.4s ease;
    /* Standard */
    transition: all 0.4s ease;
}
.owl-galery a:hover::after,
.gallery-item a:hover::after{
    opacity: 1;
}
.owl-galery a:hover::before,
.gallery-item a:hover::before{
    opacity: 0.7;
}
.fancybox-container {
    z-index: 999999999 !important;
}
section.miolo.single-blog-sec .read{
    border-top: 1px solid #D8D8D8;
    margin: 30px 0 0 0;
    padding: 40px 0;
}
section.miolo.single-blog-sec .read > h3{
    margin-bottom: 30px;
}

.read .noticias.list,
.read .noticias.list .single{
    width: 100% !important;
    margin: 0px !important;
}
.share{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 0 0;
}

.share h4{
    font-size: 12px;
    margin: 0;
}

.vc_btn3-container > .vc_btn3-color-warning svg{
    margin-top: -10px;
    margin-bottom: -10px;
}
.vc_btn3-container > .vc_btn3-color-orange{
    margin-left: 10px !important;
}
.single-empreendimento .wpb_text_column address {
    font-style: normal;
    padding: 5px 0 5px 40px;
    background-image: url(images/pin.svg);
    background-repeat: no-repeat;
    background-position: left top;
    margin: 0 0 30px;
}
.single-empreendimento #botoes{
    margin-bottom: 40px !important;
}
.single-empreendimento h3 strong{
    color: #ED292E;
}
.miolo-site > * > section.vc_section#inicio {
    padding: 0 !important;
}
.miolo-site > * > section.vc_section#inicio > .vc_row > *:nth-child(1){
    padding-top: 50px !important;
    padding-bottom: 50px !important;
}

.owl-galery{
    list-style: none;
}
.vc_tta.vc_tta-tabs {
    margin: 70px 0 100px;
}
.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.vc_tta.vc_tta-tabs .vc_tta-panel-body{
    overflow: visible !important;
}
ul.list-carac{
    list-style: none;
    column-count: 2;
    column-gap: 30px;
    margin-top: 30px;
}
ul.list-carac li {
    break-inside: avoid-column;
    margin-top: 25px;
}
ul.list-carac li:first-child{
    margin-top: 0;
}
ul.list-carac i{
    color: #ED292E;
}
.miolo-site > * > section.vc_section#miolo{
    padding-bottom: 0 !important;
    padding-top: 60px !important;
}
.miolo-site > * > section.vc_section#andamento-obra {
    padding: 50px 0 !important;
}
#andamento-obra h4 {
    color: #fff;
}
ul.passos:before{
    content: '';
    position: absolute;
    width: 100%;
    background: rgba(5,7,9,.4);
    border-radius: 6px;
    height: 8px;
    top: 0;
    left: 0;
    right: 0;
    border:1px solid rgba(124,124,124,.2);
}
ul.passos{
    width: 100%;
    list-style: none;
    margin:40px 0 0 0;
    padding:20px 0 0 0;
    position: relative;
    justify-content: space-between;
    align-items: flex-start;
    display: flex;
    font-weight: bold;
    font-size: 14px;
    color: #ECECEC;
}
ul.passos li{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
ul.passos li:before{
    content: '';
    position: absolute;
    top: -20px;
    width: 100%;
    list-style: none;
    margin:0;
    padding:0;
    height: 8px;
    left: 0;
    right: 0;    
    background:  #ED292E;
    opacity: 0
}
ul.passos li:first-child::before{
    border-radius: 6px 0 0 6px;
}
ul.passos li:last-child::before{
    border-radius: 0 6px 6px 0;
}
ul.passos li.ac1:before{
    opacity: 1;
}
ul.passos li.ac1 + li:not(.ac1):before{
    background: #252526;
    opacity: 1;
    transform: translateX(-50%);
}
.anima-v2 *,
.anima-v2,
.anima-v1 *,
.anima-v1{
    pointer-events: none;
}

#animaesq-trigger {
    position: absolute;
    top: 1575px;
    z-index: 99;
    width: 1px;
    height: 1px;
}
#animadir-trigger {
    position: absolute;
    top: 1150px;
    z-index: 99;
    width: 1px;
    height: 1px;
}
.revert #animaesq-trigger {
    top: auto;
    bottom: 900px;
}
.revert #animadir-trigger {
    top: auto;
    bottom: 600px;
}

.anima {
    position: absolute;
    top: 390px;
    z-index: 99;
    width: 530px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    transform: translateY(0%);
    /* Firefox */
    -moz-transition: all 6s ease;
    /* WebKit */
    -webkit-transition: all 6s ease;
    /* Opera */
    -o-transition: all 6s ease;
    /* Standard */
    transition: all 6s ease;
}
.anima.visible{
    transform: translateY(60%);
}
.anima.esquerda{
    left: -190px;
}
.anima.direita{
    right: -130px;
    top: 420px;
}
.revert .anima{
    top: auto;
    bottom: 0;
}
.revert .anima.direita{
    top: auto;
    bottom: 0;
}
.anima .ico-anima{
    width: 150px !important;
    opacity: 0;
    transform: translateY(-50%);
    /* Firefox */
    -moz-transition: all 2s ease;
    /* WebKit */
    -webkit-transition: all 2s ease;
    /* Opera */
    -o-transition: all 2s ease;
    /* Standard */
    transition: all 2s ease;
}
.anima .ico-anima.visible{
    opacity: 1;
    transform: translateY(0%);

}

.anima.esquerda .ico-anima:nth-child(12),
.anima.esquerda .ico-anima:nth-child(1){
    margin-left: 190px;
    margin-right: 190px;
}
.anima.esquerda .ico-anima:nth-child(12){
    margin-top: -20px;
}

.anima.esquerda .ico-anima:nth-child(10),
.anima.esquerda .ico-anima:nth-child(6),
.anima.esquerda .ico-anima:nth-child(2){
    margin-left: 95px;
    margin-right: 20px;
    margin-top: -20px;
}
.anima.esquerda .ico-anima:nth-child(11),
.anima.esquerda .ico-anima:nth-child(7),
.anima.esquerda .ico-anima:nth-child(3){
    margin-left: 20px;
    margin-right: 95px;
    margin-top: -20px;
}
.anima.esquerda .ico-anima:nth-child(8),
.anima.esquerda .ico-anima:nth-child(4) {
    margin-left: 190px;
    margin-right: 20px;
    margin-top: -20px;
}
.anima.direita .ico-anima:nth-child(5),
.anima.esquerda .ico-anima:nth-child(9),
.anima.esquerda .ico-anima:nth-child(5) {
    margin-left: 20px;
    margin-top: -20px;
}
.anima.direita .ico-anima:nth-child(1){
    margin-left: 285px;
    margin-right: 95px;
}
.anima.direita .ico-anima:nth-child(2) {
    margin-right: 190px;
    margin-top: -20px;
    margin-left: 190px;
}
.anima.direita .ico-anima:nth-child(3) {
    margin-left: 75px;
    margin-right: 20px;
    margin-top: -20px;
}
.anima.direita .ico-anima:nth-child(4) {
    margin-top: -20px;
    margin-left: 20px;
    margin-right: 75px;
}

#animaesq-trigger2 {
    position: absolute;
    bottom: 330px;
    z-index: 99;
    width: 1px;
    height: 1px;
}
#animadir-trigger2 {
    position: absolute;
    bottom: 780px;
    z-index: 99;
    width: 1px;
    height: 1px;
}

.anima.esquerda.esq-anima2{
    top: auto;
    bottom: 0;
}

.anima.direita.dir-anima2{
    top: auto;
    bottom: 0;
}

.dir-anima2.anima.direita .ico-anima:nth-child(1) {
    margin-left: 190px;
    margin-right: 190px;
}
.anima.direita.dir-anima2 .ico-anima:nth-child(6),
.dir-anima2.anima.direita .ico-anima:nth-child(2) {
    
    margin-left: 85px;
    margin-right: 20px;
}

.anima.direita.dir-anima2 .ico-anima:nth-child(7),
.anima.direita.dir-anima2 .ico-anima:nth-child(3) {
    margin-left: 20px;
    margin-right: 85px;
}
.anima.direita.dir-anima2 .ico-anima:nth-child(8),
.anima.direita.dir-anima2 .ico-anima:nth-child(4) {
    margin-left: 190px;
    margin-right: 20px;
}
.anima.direita.dir-anima2 .ico-anima:nth-child(9),
.anima.direita.dir-anima2 .ico-anima:nth-child(5) {
    margin-left: 20px;
    margin-right: 0;
}
.anima.direita.dir-anima2 .ico-anima:nth-child(9),
.anima.direita.dir-anima2 .ico-anima:nth-child(8),
.anima.direita.dir-anima2 .ico-anima:nth-child(7),
.anima.direita.dir-anima2 .ico-anima:nth-child(6){
    margin-top: -20px;
}


.anima.dir-anima2.visible{
    transform: translateY(20%);
}

.anima.esq-anima2.visible{
    transform: translateY(20%);
}


.revert .anima.esq-anima2{
    top: 420px;
    bottom: auto;
}
.revert .anima.direita.dir-anima2{
    top: 110px;
    bottom: auto;
}

.revert #animaesq-trigger2 {
    top: 330px;
    bottom: auto;
}
.revert #animadir-trigger2 {
    top: 780px;
    bottom: auto;
}

.revert div#esq-anima.visible{
    transform: translateY(20%);
}
.revert div#dir-anima.visible{
    transform: translateY(20%);
}
.revert div#esq-anima2.visible {
    transform: translateY(60%);
}
.revert div#dir-anima2.visible {
    transform: translateY(60%);
}
div#page {
    overflow: hidden;
}


.search-mobile{
    display: none;
}
.not-search{
    display: flex;
    align-items: flex-end;
    flex-flow: wrap;
}

form.search-form {
    width: 100%;
    display: block;
    border: 1px solid #D8D8D8;
    display: flex;
    justify-content: space-around;
    height: 50px;
}
form.search-form input {
    width: calc(100% - 50px);
    background: transparent;
    border: 0;
    padding: 0 0 0 15px;
}
form.search-form button {
    background: #f9f9f9;
    border: 0;
    width: 50px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}


.wpcf7 form .wpcf7-response-output {
    display: block;
    width: 100%;
    margin: 30px 0 0 0;
    float: left;
    padding: 5px 10px;
    border-width: 1px;
}
.wpcf7-not-valid-tip {
    font-size: inherit;
    margin: 10px 0 0 0;
}

.alm-btn-wrap button.alm-load-more-btn.btn.done {
    display: none !important;
}
.alm-btn-wrap button.alm-load-more-btn[disabled] {
    display: none !important;
}


@media (max-width: 1830px) {
    .anima.esquerda {
        left: -290px;
    }
    .anima.direita {
        right: -230px;
    }
}
@media (max-width: 1600px) {
    .anima{
        transform: scale(.6);
        top: 90px;
    }
    .revert div#dir-anima2.visible,
    .revert div#esq-anima2.visible,
    .anima.visible{
        transform: translateY(60%) scale(.6);
    }
    .anima.direita {
        top: 320px;
    }
    .revert div#dir-anima.visible,
    .revert div#esq-anima.visible,
    .anima.dir-anima2.visible,
    .anima.esq-anima2.visible {
        transform: translateY(20%) scale(.6);
    } 

}
@media (max-width: 1400px) {
    .anima {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    ul.empreendimento .owl-dots, ul.empreendimento .owl-nav, .vc_section > .vc_row, .container {
        width: 940px !important;
        margin: 0 auto !important;
    }
    header nav.main-navigation {
        margin: 0 0 0 30px;
    }
    #title-page h1, h2 {
        font-size: 42px;
    }
    h3 {
        font-size: 30px;
    }   
    ul.empreendimento .btn {
        margin: 20px 0 0 0 !important;
    }
    ul.noticias li .info {
        width: calc(100% - 50px);
        margin-left: 25px;
        margin-right: 25px;
    }
    ul.noticias.list .single{
        width: calc(50% - 30px);
    }
}
header .menu-mobile{
    display: none !important;
}

@media (max-width: 991px) {
    ul.empreendimento .owl-dots, ul.empreendimento .owl-nav, .vc_section > .vc_row, .container {
        width: 740px !important;
        margin: 0 auto !important;
    }
    #sobre #ctas .vc_col-sm-3{
        width: 33.33333333333%;
    }
    #sobre #ctas .vc_col-sm-3:first-child{
        display: none;
    }
    #title-page h1, h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 28px;
    }
    ul.empreendimento .txt {
        margin-bottom: 40px;
    }
    ul.empreendimento .owl-nav button + button {
        margin-left: 20px;
    }
    ul.empreendimento .owl-dots{
        padding-left: 110px;
    }  
    ul.empreendimento .owl-nav{
        bottom: 60px;
    }
    ul.empreendimento .owl-dots{
        bottom: 78px;
    }
    header .lf{
        width: 100%;
        justify-content: space-between;
    }
    header .menu-mobile button,
    header nav.main-navigation .menu-toggle {
        display: block;
        border:0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 40px;
        background: transparent;
        height: 40px;
    }
    header nav.main-navigation ul#primary-menu{
        display: none;
    }
    header nav.main-navigation{
        margin: 0;
    }
    header .btn{
        display: none !important;
    }
    header .menu-mobile{
        display: block !important;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        background: #fff;
        transform: translateX(-100%);
    }
    header .menu-mobile.active{
        transform: translateX(0);
    }
    header .menu-mobile .top{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 54px;
        margin: 26px 0;
    }
    header .menu-mobile .col-xs-12{
        display: flex;
        justify-content: center;
        flex-flow: column;
        align-items: center;
    }
    header .menu-mobile ul{
        list-style: none;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 12px;
        letter-spacing: 0.16em;
        text-transform: uppercase;
        color: #050709;
    }
    header .menu-mobile ul li{
        margin-top: 30px;
    }
    header .menu-mobile ul.social{
        flex-flow: wrap;
        font-size: 18px;
        margin-top: 60px;
    }
    header .menu-mobile ul.social li{
        margin: 0 10px;
    }
    header .menu-mobile ul.social a{
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    header .menu-mobile .btn{
        display: block !important;
        width: 100% !important;
        text-align: center;
        justify-content: center !important;
        align-items: center !important;
        position: static !important;
        margin: 60px 0 0 0 !important;
        max-width: 270px;
    }
    header .menu-mobile .btn span {
        justify-content: center;
        margin: 0 !important;
        padding: 0 !important;
    }
    footer .container .col-lg-7.col-md-5.col-sm-12.col-xs-12 {
        display: none;
    }
    ul.empreendimento .owl-dots button{
        width: 30px;
    }

    #acreditamos .vc_row .vc_row .wpb_text_column h3 {
        font-size: 18px;
    }
    #acreditamos .vc_row .vc_row .wpb_text_column {
        width: calc(100% - 30px);
    }
    #acreditamos .vc_row .vc_row:nth-child(2) .wpb_text_column{
        margin-left: 30px !important;
    }
    .vc_tta.vc_general .vc_tta-tab + .vc_tta-tab, .list-empreendimento-section .menu-categorias-container ul li + li {
        margin-left: 15px;
    }
    .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title>a, .vc_tta.vc_general .vc_tta-tab > a, .list-empreendimento-section .menu-categorias-container ul a{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .lista-empreendimento.list .single{
        width: calc(50% - 30px);
    }
    #title-page, .miolo-site > * > section.vc_section#title-page {
        padding: 60px 0 40px !important;
    }
    .miolo-site > * > section.vc_section#inicio > .vc_row > *:nth-child(1), .miolo-site > * > section.vc_section#inicio > .vc_row > *:nth-child(2) {
        width: 100%;
    }
    ul.passos{
        font-size: 12px;
    }
    ul.noticias.popular li .block-img{
        width: 100%;
    }
    ul.noticias.popular li .block-img .img {
        padding-top: 60%;
    }
    ul.noticias.popular li .info {
        margin: 15px 0 0 0 !important;
        width: 100%;
        padding: 0;
    }
    ul.noticias.popular li h4{
        font-size: 12px;
    }
    ul.noticias.popular li h3{
        font-size: 21px;
    }
    #title-page .search-title{
        display: none;
    }
    .search-mobile{
        display: block;
        margin-bottom: 40px;
    }
}
body.page-contato .only-desktop{
    display: block;
}
body.page-contato .only-mobile{
    display: none;
}

@media (max-width: 767px) {
    ul.empreendimento .owl-dots, ul.empreendimento .owl-nav, .vc_section > .vc_row, .container {
        width: 100% !important;
        max-width: 500px ;
        margin: 0 auto !important;
    }
    #sobre #ctas .vc_col-sm-3{
        width: 33.33333333333%;
    }
    ul.empreendimento .txt{
        padding-top: 40px;
    }
    header {
        padding: 20px 0;
        height: 80px;
    }
    header + section#content {
        margin-top: 80px;
    }
    header .menu-mobile .top {
        height: 40px;
        margin: 20px 0;
    }
    ul.empreendimento .owl-nav{
        display: none !important;
    }
    ul.empreendimento .owl-dots {
        padding-left: 0;
        justify-content: center;
        bottom: 20px;
    }
    ul.empreendimento .owl-dots button {
        width: 20px;
        height: 5px;
        margin: 0 2px;
    }
    ul.empreendimento .owl-dots button.active{
        height: 5px;
    }
    header .branding{
        width: 100px;
    }
    #sobre > #ctas{
        padding-right: 175px !important;
    }
    #sobre > #ctas .owl-dots{
        width: calc(100% + 175px) !important;
        margin-right: -175px !important;
    }
    .owl-carousel#ctas .owl-stage-outer{
        overflow: visible !important;
    }

    #sobre #ctas .vc_col-sm-3{
        width: 100% !important;
    }
    #sobre #ctas .vc_col-sm-3:first-child{
        display: block;
        width: 100% !important;
    }
    #sobre #ctas .active .vc_col-sm-3 .vc_row > * {
        transform: translateY(0px);
    }
    .miolo-site > * > section.vc_section {
        padding: 50px 0 !important;
    }

    .lista-empreendimento .single .btn-full, 
    ul.noticias li.single .hover-btn {
        height: 51px;
    }
    ul.noticias li .info{
        margin-bottom: 0 !important;
    }
    section#fale-conosco div#whats {
        margin-top: 80px;
    }
    #fale-conosco #whats h3 {
        margin-top: 30px !important;
        margin-bottom: 30px !important;
    }
    footer ul.social {
        justify-content: center;
        margin-top: 50px;
    }
    footer ul.contato li > * span{
        width: auto;
    }
    footer ul.contato li > *{
        width: 100%;
        justify-content: center;
    }
    footer .container .full-footer {
        display: flex;
        flex-flow: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: 50px;
    }
    footer .container .full-footer > * {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    footer .container .full-footer > *:last-child {
        margin: 0 0 50px;
    }
    footer .container .full-footer{
        font-size: 12px;
    }


    #title-page, .miolo-site > * > section.vc_section#title-page {
        padding: 30px 0 !important;
    }
    .page-sobre-nos .miolo-site > * > section.vc_section#sobre{
        padding-top: 0 !important;
    }
    .page-sobre-nos .miolo-site > * > section.vc_section#sobre > .vc_row {
        display: flex;
        flex-flow: column-reverse;
    }
    .miolo-site > * > section.vc_section#como-fazemos .wpb_single_image,
    .page-sobre-nos section.vc_section#sobre .wpb_single_image {
        margin-top: -20px !important;
        margin-bottom: -20px !important;
        max-width: 370px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .miolo-site > * > section.vc_section#como-fazemos .wpb_single_image{
        margin-bottom: 20px !important;
    }

    #acreditamos .vc_row .vc_row .wpb_text_column h3{
        font-size: 24px;
    }
    #acreditamos .vc_row .vc_row .wpb_text_column{
        width: 100% !important;
        overflow: hidden;
    }
    section#acreditamos > * > .vc_col-sm-6:last-child .owl-stage-outer {
        overflow: visible;
    }
    section#acreditamos > * > .vc_col-sm-6:last-child {
        margin-top: -60px;
        margin-bottom: 0px !important;
        transform: translateY(100px);
    }
    .miolo-site > * > section.vc_section#empreendimentos {
        padding-top: 160px !important;
    }
    ul.noticias.list .single,
    .lista-empreendimento.list .single{
        width: calc(100% - 30px);
    }

    .list-empreendimento-section .menu-categorias-container ul {
        flex-flow: column;
    }
    .vc_tta.vc_general .vc_tta-tab,
    .vc_tta.vc_general .vc_tta-tab + .vc_tta-tab, 
    .list-empreendimento-section .menu-categorias-container ul li,
    .list-empreendimento-section .menu-categorias-container ul li + li {
        margin-left: 0;
        width: 100%;
    }
    .list-empreendimento-section .menu-categorias-container ul li:not(.current-menu-item):first-child a,
    .vc_tta.vc_general .vc_tta-tab + .vc_tta-tab a, 
    .list-empreendimento-section .menu-categorias-container ul li + li a{
        border-top: 0 !important;
    }
    .list-empreendimento-section .menu-categorias-container ul li + li.current-menu-item a{
        border-top: 1px solid !important;
    }
    .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-title>a, 
    .vc_tta.vc_general .vc_tta-tab > a, .list-empreendimento-section .menu-categorias-container ul a {
        width: 100%;
        padding: 18px 60px 18px 30px !important;
    }
    .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel.vc_active .vc_tta-panel-title>a, 
    .vc_tta.vc_general .vc_tta-tab.vc_active>a, 
    .list-empreendimento-section .menu-categorias-container ul .current-menu-item a {
        background-color: transparent !important;
        background-image: url(images/red-down-select.svg) !important;
        background-repeat: no-repeat !important;
        background-position: calc(100% - 20px) center !important;
    }
    .list-empreendimento-section .menu-categorias-container ul li.current-menu-item{
        order: 1;
    }
    .list-empreendimento-section .menu-categorias-container ul li:not(.current-menu-item){
        order: 2;
        display: none;
    }
    .list-empreendimento-section .menu-categorias-container ul.open li:not(.current-menu-item){
        display: block;
    }

    ul.passos li.ac {
        display: none;
    }
    ul.passos li.ac1 {
        display: none;
    }
    ul.passos li.ac1:last-child{
        display: block;
    }
    ul.passos li:last-child::before {
        border-radius: 6px 0 0 6px;
        width: 50%;
    }
    ul.passos{
        font-size: 14px;
    }


    .vc_tta-color-white.vc_tta-style-flat .vc_tta-panel .vc_tta-panel-heading{
        display: none !important;
    }
    .vc_tta.vc_tta-tabs .vc_tta-tabs-container{
        display: block !important;
    }

    .vc_tta.vc_general .vc_tta-tab>a {
        text-align: left !important;
    }
    .vc_tta.vc_general ul.vc_tta-tabs-list {
        display: flex;
        flex-flow: column;
    }
    .vc_tta.vc_general ul.vc_tta-tabs-list li.vc_tta-tab:not(.vc_active) {
        display: none;
        order: 2;
    }
    .vc_tta.vc_general ul.vc_tta-tabs-list li.vc_tta-tab.vc_active {
        display: block;
        order: 1;
    }
    .vc_tta.vc_general ul.vc_tta-tabs-list.open li.vc_tta-tab:not(.vc_active) {
        display: block;
    }

    .vc_tta.vc_general .vc_tta-tab + .vc_tta-tab.vc_active a{
        border-top: 1px solid !important;
    }
    .single-empreendimento .owl-dots {
        position: absolute;
        bottom: 15px;
    }
    .single-empreendimento .owl-dots button {
        background: #f9f9f9 !important;
        width: 15px !important;
        margin: 0 2px !important;
        height: 6px !important;
    }
    .single-empreendimento .owl-dots button.active{
        width: 22px !important;
    }
    .vc_tta.vc_tta-tabs {
        margin: 40px 0 40px;
    }
    body.single-post #title-page h1{
        font-size: 24px;
    }
    section.miolo.single-blog-sec {
        padding: 10px 0 0px !important;
    }
    .miolo-site > * > section.vc_section#inicio > .vc_row > *:nth-child(1) {
        padding-top: 20px !important;
        padding-bottom: 40px !important;
    }
    body.page-contato .only-desktop{
        display: none;
    }
    body.page-contato .only-mobile{
        display: block;
    }
    ul.empreendimento li .container .col-img{
        padding-right: 15px !important;
    }
    .home section#sobre .vc_col-sm-5 {
        margin-bottom: 30px !important;
    }

}
@media (max-width: 500px) {
    #sobre > #ctas .wpb_single_image,
    #sobre > #ctas .wpb_single_image *,
    #sobre > #ctas img{
        width: 100% !important;
    }
    #sobre > #ctas {
        padding-right: 50px !important;
    }
    #sobre > #ctas .owl-dots {
        width: calc(100% + 50px) !important;
        margin-right: -50px !important;
    }
    ul.noticias li .info {
        width: calc(100% - 16px);
        margin-left: 8px;
        margin-right: 8px;
        padding: 25px 20px;
        margin-top: -30px;
    }
    ul.noticias li h3{
        font-size: 20px;
    }
    .single-empreendimento #botoes .wpb_wrapper {
        display: flex;
        flex-flow: column;
    }
    .vc_btn3-container > .vc_btn3-color-orange{
        margin-left: 0 !important;
    }
    .single-empreendimento #inicio h3 br {
        display: none;
    }
    ul.list-carac {
        column-count: 1;
    }
    .wpcf7 .wpcf7-form-control-wrap input, .wpcf7 .wpcf7-form-control-wrap textarea{
        font-size: 20px !important;
    }

}
@media (max-width: 374px) {
    
    #sobre > #ctas {
        padding-right: 15px !important;
    }
    #sobre > #ctas .owl-dots {
        width: calc(100% + 15px) !important;
        margin-right: 15px !important;
    }
